<!-- Create your form here -->
 <html> 
 <h1>Student Form</h1>
 <p>Create a New Student</p>
   <form action = "/students" method = "POST">
     <div>  
       <label> First Name</label>
       <input type = "text" name = "first_name" />
     </div>

     <div>  
       <label> Last Name</label>
       <input type = "text" name = "last_name"/>
     </div>

     <input type = "submit" value = "Submit Student"/>
   </form>
 </html>